@model ICollection<Client>

@{
    ViewData["Title"] = "Liste des clients";
}

@if(ViewData["MessageAlert"] is not null)
{
    MessageAlertVM msgVM = ViewData["MessageAlert"] as MessageAlertVM;

    <div class="@msgVM.Classes">
        @msgVM.Content
    </div>
}

<div class="col-md-10 offset-1">
    <h2>Liste des clients</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id.</th>
                <th>Nom complet</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FullName</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Email</td>
                    <td>
                        <a asp-action="Remove" asp-route-id="@item.Id" class="btn btn-danger"><i class="bi bi-trash"></i> Supprimer</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.Partial("_CreateNewItem", new CreateNewItemVM() {ControllerName = "Clients", ActionName = "Create", ItemName = "Client", IsMale = true});